header, nav, section, article, footer {
	/* Cada elemento quedará en su región */
	display: block;

	/* Elementos diferenciadores. Para ver las distintas secciones */
	background-color: aliceblue;
	padding: 3px;
	margin: 3px;
}

nav {
	width: 15%;
	float: left;
}

section {
	/* Para que deje una estela hacia la derecha */
	width: 75%;
	float: right;
}

article {
	background-color: cadetblue;
}

footer {
	/* Tenemos un flow en los elementos superiores, con esto lo limpiamos */
	clear: both;
}