{{> header}}

{{> navbar}}

<div class="row">
    <div class="col-4" style="background-color: aqua; width: 200px">hola</div>
    <div class="col-8" style="background-color: brown; width: 200px">mundo</div>
</div>

{{> footer}}