{{> header}}

<!-- Agrega el navbar de forma dinámica -->
{{> navbar }}

<h1>Hola {{nombre}}</h1>
<h2>Espero que el año {{getAnyo}} te esté yendo bien</h2>
<h3>{{capitalizar 'teXto capitaLizado'}}</h3>

{{> footer}}